<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordReverser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>695812301E3BE0CE0042B602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695812441E3BE0CE0042B602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6958124F1E3BE0CF0042B602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
